/*!*************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./components/modules/auth/components/LoginForm/LoginForm.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************/
.LoginForm_centerWrap__7kyH9 {
  height: 75dvh;
  display: grid;
  place-items: center;
  padding: var(--space-7);
  overflow: hidden; /* avoid stray scrollbars */
}

.LoginForm_form__Ur4Qj {
  display: grid;
  gap: var(--space-6);
  min-width: 30vw;
}

.LoginForm_title__VjFdP {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: var(--font-sans);
  font-weight: var(--font-weight-bold);
  color: hsl(var(--text-headings));
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-2xl);
}

.LoginForm_fields__XFpMR {
  display: grid;
  gap: var(--space-5);
}

.LoginForm_apiError__qR11E {
  margin: 0;
  color: hsl(var(--text-error));
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  text-align: left;
}

.LoginForm_links__nY5LS {
  display: flex;
  gap: var(--space-6);
  justify-content: center;
}

.LoginForm_links__nY5LS a {
  color: hsl(var(--text-body));
  text-decoration: underline;
  text-underline-offset: 2px;
}

.LoginForm_links__nY5LS a:hover {
  color: hsl(var(--text-action));
}

